<div class="p-4">

    <div class="container text-center">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="h1-strong">{{title}}</h1>
            <p>Disfruta de publicar mediante esta prueba de Red Social.</p>
            <p>
                <a href="#" class="btn btn-success btn-lg m-2" [routerLink]="['/home']">Mi perfil</a>

                <a href="#" class="btn btn-info btn-lg m-2" [routerLink]="['/timeline']">TimeLine</a>

                <a href="#" class="btn btn-primary btn-lg m-2" [routerLink]="['/gente']">Gente</a>
            </p>
        </div>
    </div>
</div>