<div class="container">
    <div class="row justify-content-start">
        <div class="col">

        <h1 class="h1-strong">{{title}}</h1>
        <div class="card mb-3" style="max-width: 540px;">

            <div class="card-header">
                Personas
            </div>
            
        <div *ngFor="let user of users" class="item-user">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
    
                    <div class="col-md-4" *ngIf="user.imagePath">
                        <img [src]="url+'uploads/'+user.imagePath" alt="">
                    </div>
                    <div class="col-md-4" *ngIf="!user.imagePath">
                        <img [src]="'assets/user-default.png'" alt="">
                    </div>
    
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{user.nick}}</h5>
                        <p class="card-text"> <a [routerLink]="['/perfil', user._id]">{{user.name + ' ' + user.surname}}</a> </p>
                        </div>
                    </div>
                </div>
    
                <div *ngIf="identity._id != user._id" class="botones">
                    <a class="btn btn-success" *ngIf="follows.indexOf(user._id) < 0" (click)="followUser(user._id)">Seguir</a>
    
                    <a class="btn btn-info" *ngIf="follows.indexOf(user._id) >= 0" (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave()" [class.btn-danger]="user._id == idMouseOver" (click)="unfollowUser(user._id)">
                        
                        <span *ngIf="user._id == idMouseOver; else following">
                            Dejar de seguir
                        </span>
                        <ng-template #following>
                            <span>Siguiendo</span>
                        </ng-template>
                    </a>
                </div>
    
            </div>
        </div>
        </div>
    
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" *ngIf="page > 1">
                        <a class="page-link" [routerLink]="['/gente']" [queryParams]="{page: prevPage, limit: 4}">Anterior</a>
                    </li>
            
                <li class="page-item" *ngIf="page != pagesTotal">
                    <a class="page-link" [routerLink]="['/gente']" [queryParams]="{page: nextPage, limit: 4}">Siguiente</a>
                </li>
                </ul>
            </nav>
        </div>

      <div class="col-4 offset-1">
        <app-sidebar></app-sidebar>
      </div>

    </div>
</div>